body{
	margin: 0 auto;
	background: linear-gradient(180deg, #ACACAC 0%, rgba(255, 255, 255, 0) 100%) no-repeat; 

}

.wrapper{
	margin-left: 288px;
	margin-right: 288px;
}

.header{

	padding-top: 10px;
	background-color: #ACACAC;


}

.navigation{
	display: flex;
}

ul{
	margin: 0 auto;
}
li{
	list-style-type: none;
}
.nav{
text-transform: uppercase;
display: inline-flex;
justify-content: space-between;
text-align: center;
align-items: center;
align-self: center;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
border: solid 11px #C4C4C4;
border-radius: 15px;
background-color: #C4C4C4;
list-style-type: none;
padding-right: 40px;

}

a{
	text-decoration: none;
	color: white;
	font-family: Montserrat;
	margin: 0 auto;
}
a:hover{
	text-decoration: underline;
}
p{
	margin: 0 auto;
}
.nav>li:not(:last-child){
	list-style-type: none;
	padding-right: 70px;

}
	&last-child{
	padding-right: 40px;
	
}
.number{
top: 40px;
align-self: center;
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #FFFFFF;
border: solid 10px #C4C4C4;
border-radius: 15px;
background-color: #C4C4C4;
bottom: 10px;
display: flex;
padding-left: 10px;

}

.vector{
	margin-right: 3px;
}

/* контент */

.pl-content{
	padding-top: 30px;
	text-align: center;
}

.line{
	border: 1px solid ;
	margin: 10px;
	color: #ACACAC;
}
.middle-button{	
	display: flex;
	justify-content: center;
}

.pl-button{

	text-align: center;
	font-family: Montserrat;
	font-size: 15px;
	color: black;
	border: solid 11px #C4C4C4;
	border-radius: 15px;
	background-color: #C4C4C4;
	font-weight: bold;
	margin-bottom: 10px;

}

.footer{
	background-color: #ACACAC;
	padding-top:38px;
	padding-bottom:38px;
}
